# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Database files
*.db
*.db-journal
*.sqlite

# Environment variables
.env

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.coverage.*

# IDE settings
.vscode/
.idea/
